body{
    margin: 0;
}
div{
    background-color: #d9d9d9;
}
.header{
    width: 100%;
    height: 69px;
}
.main-content{
    padding: 40px 20px;
    padding: 40px 80px;
    background-color: transparent;
}
.list-header{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    margin-bottom: 20px;
}
.list-title{
    margin-bottom: 20px;
    width: 100px;
    height: 20px;
    clear: both;
}
.card-list{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.card{
    display: flex;
    align-items: end;
    flex-grow: 1;
    height: 100px;
    padding: 24px;

}
.card-content{
    background-color: black;
    width: 100%;
    height: 20px;
}